*{
    margin: 0;
    padding: 0;
}

h1{
    color: hsl(177, 87%, 20%);
    font-size: 2rem;
}

body{
    background-color: #fff;
    color: black;
    font-size: 1.2rem;
}


#site{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 3rem 1fr 3rem 3rem;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer"
}

header{
    grid-area: header;
    background-color: #fff;
}

nav{
    grid-area: nav;
    background-color: #fff;
}

main{
    grid-area: main;
    background-color: sienna;
}

aside{
    grid-area: aside;
    background-color: tan;
}

footer{
    grid-area: footer;
    background-color: bisque;
    font-size: 2rem;
}
a{
    color: #9fd4f3;
}

@media (min-width: 600px){
    body{
        font-size: 1rem;
    }
    #site{
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 3rem 3rem 1fr 3rem;
        grid-template-areas: 
        "header header"
        "nav nav"
        "main aside"
        "footer footer"
    }
}